.input{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: solid 2px var(--md-outline);
  background-color: var(--md-surface-variant);
  border-radius: 5px 5px 0 0;
}

.input input{
  padding: 0 10px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--md-surface-variant);
  color: var(--md-on-surface-variant);
}

.input label{
  padding: 5px 10px;
  font-size: 14px;
  color: var(--md-on-surface-variant);
}