@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--md-background);
  color: var(--md-on-background);
  font-family: 'Pixelify Sans', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

html, body, #root {
  height: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;
}

.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 15px;
}

.formulario a{
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: var(--md-on-background);
}

.input{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: solid 2px var(--md-outline);
  background-color: var(--md-surface-variant);
  border-radius: 5px 5px 0 0;
}

.input input{
  padding: 0 10px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--md-surface-variant);
  color: var(--md-on-surface-variant);
}

.input label{
  padding: 5px 10px;
  font-size: 14px;
  color: var(--md-on-surface-variant);
}

.btn{
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: var(--md-primary);
  color: var(--md-on-primary);
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: color-mix(
    in srgb,
    var(--md-primary) 92%,
    rgba(255,255,255,0.08)
  );
}