@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--md-background);
  color: var(--md-on-background);
  font-family: 'Pixelify Sans', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

html, body, #root {
  height: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;
}