#login{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

#login span:hover{
  cursor: pointer;
}

#login p{
  cursor: pointer;
}

.themeLogin{
  position: absolute;
  top: 10px;
  right: 10px;
}

