#artigo {
    width: 100%;
    height: auto;
    background-color: var(--md-surface-variant);
    border-radius: 10px;
}

#artigo #img_artigo{
    width: 500px;
    height: 500px;
}

#artigo .main_artigo .reagir_artigo{
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 10px;
}

#artigo .main_artigo .conteudo_artigo{
    padding-left: 20px;
    padding-right: 20px;
}

#artigo .info_user_artigo{
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

#artigo .info_user_artigo img {
    width: 20px;
    height: 20px;
}

#artigo #img_user {
    border-radius: 50%;
}

#artigo .main_artigo  .reagir_artigo:hover {
    cursor: pointer;
}

#artigo .main_artigo #comentarios{
    cursor: pointer;
}

